.col-xs-4.grid.mirrorbox.forecast
  %h2 Forecast
  -# %h5
  -#   = @forecast_city
  %h4
    %i.wi{class: "wi-owm-#{@next_day_icon}"}
    = (Time.now + 1.days).strftime("%A").slice(0..2)
    = @next_day_high
    \/
    = @next_day_low
  %h4
    %i.wi{class: "wi-owm-#{@following_day_icon}"}
    = (Time.now + 2.days).strftime("%A").slice(0..2)
    = @following_day_high
    \/
    = @following_day_low
  %h4
    %i.wi{class: "wi-owm-#{@third_day_icon}"}
    = (Time.now + 3.days).strftime("%A").slice(0..2)
    = @third_day_high
    \/
    = @third_day_low
